*{
    padding: 0;
    margin: 0;
  
}

body {
    margin-top: 10vh;
    align-items: center;
    background-color: rgb(147, 214, 236);  
    justify-content: space-around; 
    display: flex
        
}

input{
    background-color: rgba(20, 136, 146 ,.4);
}

.esconde{
    display: none;
}